.deps/
.libs/
autom4te.cache/
build/
Makefile
libtool
stamp-h1

*.la
*.lo
*.o
*.log
*.status
*.in
*.m4
config.h
configure
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing

aesrand/aesrand.h
test/test_rand
